<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gmail.jiangyang5157.sudoku">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Base">
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.settings.SettingsActivity"
            android:label="@string/settings"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/Theme.Settings" />

        <activity
            android:name=".ui.settings.ColorPaletteActivity"
            android:label="@string/color_palette"
            android:parentActivityName=".ui.settings.SettingsActivity"
            android:theme="@style/Theme.Settings" />

        <activity
            android:name=".ui.settings.AboutActivity"
            android:label="@string/about"
            android:parentActivityName=".ui.settings.SettingsActivity"
            android:theme="@style/Theme.Settings" />

        <activity
            android:name=".ui.storage.PuzzleStorageActivity"
            android:label="@string/puzzle_storage"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/Theme.PuzzleStorage" />

        <activity
            android:name=".ui.puzzle.SudokuActivity"
            android:label="@string/puzzle"
            android:theme="@style/Theme.Sudoku" />
    </application>

</manifest>